@import "tailwindcss";

@theme {
    --color-primary-bg: #0f172a;
    --color-accent-blue: #3b82f6;
    --color-accent-cyan: #06b6d4;
    --font-sans: 'Inter', 'Montserrat', sans-serif;
}

body {
    background-color: var(--color-primary-bg);
    color: #e2e8f0;
    /* slatelight text */
    font-family: var(--font-sans);
}